<div (swipeRight)="onSwipeRight()">
    <h1 class="center-text">Live League</h1>
    <table class="center">
        <tr>
          <th>Name</th>
          <th>Overall</th>
          <th>GW</th>
          <th>Hit</th>
        </tr>
        <tr *ngFor="let position of league">
            <td>{{position.name}}</td>
            <td class="center-text">{{position.overallPoints}}</td>
            <td class="center-text">{{position.gameweekPoints}}</td>
            <td class="center-text">{{position.hit}}</td>
        </tr>
      </table>
</div>




