<div
 (swipeLeft)="onSwipeLeft($event)"
 (swipeRight)="onSwipeRight($event)" 
>

    <div >
        test
    </div>

    <div>test </div>
    <div >
        test
    </div>

    <div>test </div>
    <div >
        test
    </div>

    <div>test </div>


</div>
